@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

header {
  width: 98%;
  height: 100vh;
  background-image: url("images/lombok.png");
  background-size:cover;
  background-repeat: no-repeat;
  color: #494e48;
  margin: 10px;
}
header .navigation {
  justify-content: space-between;
  position: relative;
  height: 80px;
  align-items: center;
  text-transform: uppercase;
}

header .navigation ul {
  list-style: none;
  justify-content: space-between;
  width: 35%;
}

header .navigation ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
}

header .navigation ul li {
  margin-top: 20px;
  padding: 12px 10px;
}

header .navigation ul .active {
  border: 2px solid #494e48;
}

.header-heading{
  margin-top: 20px;
}

.display-flex {
  display: flex;
}

.line {
  width: 60px;
  border: 4px solid #79948f;
  align-items: center;
  margin: 20px 0px;
}

.line-small {
  width: 60px;
  border: 2px solid #494e48;
  align-items: center;
  margin: 20px 0px;
}

.menu-toggle {
  display: none;
}

.menu-toggle span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #79948f;
  margin: 2px 0px;
  border-radius: 3px;
}

.hero {
  width: 100%;
  height: 80vh;
  position: relative;
}

.hero .hero-info {
  height: 80vh;
  text-transform: uppercase;
  flex-direction: column;
  text-align: center;
}
.hero .hero-info .hero-title {
  margin: auto;
  letter-spacing: 7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-info .hero-title h1 {
  font-size: 90px;
  margin: 20px 0px;
}


/* articles */

.article {
  width: 100%;
  background-color: #f2f4f1;
  padding: 50px 0px;
  padding-bottom: 200px;
}

.article .article-title {
  margin-top: 120px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.article .article-title h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 100;
  color: #494e48;
}

.article .article-body {
  justify-content: space-between;
}

.article .article-body .card {
  width: 370px;
  height: 500px;
  background-color: white;
  margin-bottom: 15px;
  margin-left: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.article .article-body .card .image-box {
  width: 100%;
  height: 50%;
}

.article .article-body .card .image-box img {
  width: 370px;
  height: 250px;
}

.article .article-body .card .card-info {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding: 60px 0px;
  justify-content: space-evenly;
}

.article .article-body .card .card-info p {
  line-height: 30px;
  color: #494e48;
}

/*about*/
.about .about-image img {
  width: 700px;
  height: inherit;
  object-fit: cover;
}

.about .about-content .about-body {
  width: 50%;
  margin: auto;
  padding: 0px 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}

.about .about-content .about-body h1 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 100;
  color: #494e48;
}
.about .about-content .about-body p {
  text-align: justify;
  line-height: 25px;
  padding: 0px 15px;
  color: #aeaeae;
  font-size: 16px;
}

.about .about-content .about-image {
  width: 50%;
  height: 90vh;
  overflow: hidden;
}

.about .about-content .about-body div {
  margin-bottom: 50px;
}

/*subscribe*/

.subscribe {
  width: 100%;
  height: 80vh;
  background-color: #dfe4de;
  color: #494e48;
}

.subscribe .subscribe-content {
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  line-height: 50px;
}

.subscribe .subscribe-content h1 {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 5px;
}

.subscribe .subscribe-content p {
  font-size: 25px;
  letter-spacing: 1px;
  outline: none;
  margin-bottom: 10px;
}

.subscribe .subscribe-content .form-control {
  width: 500px;
  height: 60px;
  border: none;
  margin-bottom: 40px;
  padding: 0px 30px;
  background-color: #eff1ee;
  border: 4px solid white;
}

.subscribe .subscribe-content .btn-primary {
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  border: 2px solid #494e48;
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.subscribe .subscribe-content .btn-primary:hover {
  background-color: #494e48;
  color: #dfe4de;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 20vh;
}

footer .footer-content {
  justify-content: space-between;
  align-items: center;
  height: 120px;
  text-transform: uppercase;
}

footer .footer-content ul {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-between;
  text-align: center;
}

footer .footer-content ul li a {
  text-decoration: none;
  color: #494e48;
  font-weight: bold;
}
footer .footer-content .icons {
  margin: 10px;
  justify-content: space-between;
  height: 30px;
  width: 30px;
}

footer .footer-content .icons span {
  width: 35px;
  height: 35px;
  background-color: #494e48;
  border-radius: 50%;
  color: #dfe4de;
  transition: all .2s ease-in-out;
  margin-left: 10px;
}

footer .footer-content .icons span img{
  width: 35px;
  height: 35px;
 
}

footer .footer-content .icons span:hover{
  background-color: transparent;
  color: #494e48;
  border: 2px solid #494e48;
  cursor: pointer;
}

footer .footer-content .icons span i {
  margin: auto;
}



/*responsive*/

@media screen and (max-width: 570px){
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  /* Header */
  header {
    background-position: center;
    margin: 12px;
    width: 94%;
  }
  header .navigation h1 {
    visibility: hidden;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  header .navigation ul {
    display: none;
  }
  .hero .hero-info .hero-title h1 {
    font-size: 40px;
    margin: 20px 0px;
    letter-spacing: 2px;
  }

  .hero .hero-info .hero-title h3 {
    font-size: 15px;
    letter-spacing: 2px;
  }

  .hero .hero-info .hero-title h3::after {
    content: " & more";
  }

  /* Article */
  .article {
    padding-bottom:50px;
  }
  .article .article-title {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .article .article-body .card {
    width: 100%;
    height: 450px;
    background-color: white;
    margin: 0;
    margin-top: 20px;
  }

  .article .article-body {
    flex-direction: column;
  }

  .article .article-body .card .image-box {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  .article .article-body .card .image-box img {
    width: 100%;
    object-fit: cover;
  }

  .article .article-body .card .card-info {
    font-size: 20px;
    padding: 30px 0px;
  }

  /* About */
  .about {
    width: 100%;
    height: 130vh;
    color: #494e48;
  }

  .about .about-content {
    flex-direction: column;
  }

  .about .about-content .about-image {
    width: 100%;
    height: 220px;
    background-color: black;
  }

  .about .about-content .about-image img {
    width: inherit;
    height: inherit;
  }

  .about .about-content .about-body {
    width: 100%;
    padding: 0px;
  }

  .about .about-content .about-body h1 {
    font-size: 30px;
    margin-top: 50px;
  }

  /* Susbcribe */
  .subscribe .subscribe-content p {
    width: 100%;
    letter-spacing: 0px;
    text-align: center;
  }

  .subscribe .subscribe-content .form-control {
    width: 100%;
    margin-bottom: 15px;
  }

  .subscribe .subscribe-content .btn-primary {
    width: 100%;
  }

  /* Footer */
  footer {
    height: 60vh;
  }
  footer .footer-content {
    flex-direction: column;
    padding: 50px 0px;
  }
  footer .footer-content ul {
    text-align: center;
    line-height: 50px;
    margin-bottom: 30px;
    flex-direction: column;
    letter-spacing: 5px;
    width: 100%;
    top: -70px;
    position: relative;
  }
  footer .footer-content .icons {
    width: 60%;
  }

  footer span{
    top: 150px;
    position: relative;
  }

}